* {
  box-sizing: border-box;
  /* border: 1px solid rgba(124, 124, 124, 0.171); */
}
html, body {
  height: 100%;
  width: 100%;
}
img {
  margin-left: 10%;
  width: 40%;
  object-fit: cover;
}
#lionImg {
  display: none;
}
#tigerImg {
  display: none;
}
#bearImg {
  display: none;
}
